/* -----------------------------------------
    Build By Amazatic; Pune; India
    Sept 2019
----------------------------------------- */

/* Basic Color */

/* Theme Base color */
$white: #ffffff;
$red: #fd397a;
$yellow: #ffb822;
$light-yellow: #b09361;
$green: #0abb87;
$blue: #5578eb;
$dark-green: #1b454b;
$light-blue: #80bdff;

$black: #000000;
$gray-90: #111111;
$gray-80: #222222;
$gray-70: #333333;
$gray-60: #444444;
$gray-50: #555555;
$gray-40: #666666;
$gray-30: #777777;
$gray-20: #888888;
$gray-10: #999999;
$gray-9: #e2e5ec;
$gray-5: #e2e5ec;
$gray-4: #f3f3f3;
$gray-2: #f2f3f8;
$gray-2: #f1f1f1;

$base-40: #585858;
$base-50: #454b60;

/* Colors */
$base-color: #282a3c;
$primary-color: #1b454b;
$secondary-color: #B09361;

/* Basic font size */

$e-small-f-size: 10px;
$small-f-size: 12px;
$base-f-size: 14px;
$medium-f-size: 16px;
$e-medium-f-size: 18px;
$large-f-size: 24px;

$e-large-f-size: 30px;

/* Title font size */
$panel-title-f-size: 18px;
$page-title-f-size: 24px;

/* Font family */
$base-font-family: 'Poppins', sans-serif;

$base-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
